@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: 100%;
}

body {
    margin:0;
    padding:0;

    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.half_screen {
    width: 49vw;
    display: inline-table;
}

.page-container {
    flex: 1 0 auto;
}

.counter {
    display: block;
    text-align: center;
    font-size: 5em;
}

.counter-title {
    display: block;
    text-align: center;
}

h1.counter-title {
    text-decoration: underline;
}

.footer-column {
    margin: 20px;
    display: block;
    max-width: 600px;
}

.footer-row {
    margin-top: 20px;
}

footer {
    background-color: #DDD;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
}