.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;

    a {
        color: white;
        padding: 0rem 1rem;
    }

    .left-footer {
    }

    .center-footer {
    }
}
