.card {
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;

    &.full-size {
        width: 100%;
        height: 100%;
    }

    .card-header {
        font-family: "Budal Dolan";
        font-size: 1.5rem;
        padding: 0.5rem;
        padding-bottom: 0.25rem;
        line-height: 0.5;
    }

    .card-content {
        padding: 0.5rem;
        font-weight: 600;
    }

    img {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        background-color: var(--gray);
    }
}
