body{
  background-color:black;
  background-image: url("src/robots.png");
  background-size: 100%;
}

.form-1{
  margin: 100px;
}

.form-1 div{
  margin-bottom: 20px;
}

#pw{
  background-color: #222;
  border:none;
  color: #0F0;
  font-size: 20px;
  font-weight: bold;
  padding:5px;
}

#pw:focus, #verify:focus{
  outline: none;
}

#verify{
  background-color: #222;
  border:none;
  color: #000;
  font-weight: bold;
  padding:5px;
  font-size:20px;
}

.typed-cursor{
  color:#0F0;
  font-weight: bold;
  display:inline;
}
