<div id="gallery" class="section">
    <div class="container">
        <h2>Gallery</h2>

        <div class="gallery-container">
            <div class="image-container">
                <a
                    class="img-container"
                    *ngFor="let image of images.slice(startAt, startAt + 10)"
                >
                    <img [src]="image.url" alt="" />
                </a>
            </div>

            <p-paginator
                [rows]="10"
                [totalRecords]="images.length"
                (onPageChange)="onPageChange($event)"
                *ngIf="images.length > 10"
            ></p-paginator>
        </div>
    </div>
</div>
