<div id="social-media" class="section">
    <div class="container">
        <h2>Social Media</h2>

        <div class="social-container gap-1 row">
            <a
                [href]="social.link"
                class="social cell lg-0 md-1 sm-2"
                rel="me"
                *ngFor="let social of socials"
            >
                <div class="card full-size">
                    <img
                        *ngIf="social.image != undefined"
                        alt="{{social.website}} avatar image"
                        src="{{ social.image }}"
                    />
                    <div class="website-name">
                        <img src="{{social.logo}}" alt="{{social.website}} logo" class="social-logo">
                        {{social.website}}
                    </div>
                    <div class="card-header">
                        <div class="display-name" [innerHTML]="social.displayName ? social.displayName : social.username">

                        </div>
                        <div class="username" *ngIf="social.displayName">
                            {{social.username}}
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="description" *ngIf="social.description" [innerHtml]="social.description"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
