@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v3ydwy');
  src:  url('fonts/icomoon.eot?v3ydwy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v3ydwy') format('truetype'),
    url('fonts/icomoon.woff?v3ydwy') format('woff'),
    url('fonts/icomoon.svg?v3ydwy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord-small:before {
  content: "\e91d";
  color: #fff;
}
.icon-discord-big:before {
  content: "\e91e";
  color: #fff;
}
.icon-teamspeak:before {
  content: "\e91c";
}
.icon-adobephotoshop:before {
  content: "\e900";
  color: #00c8ff;
}
.icon-amazon:before {
  content: "\e901";
  color: #f90;
}
.icon-android:before {
  content: "\e902";
  color: #a4c639;
}
.icon-atom:before {
  content: "\e903";
  color: #66595c;
}
.icon-bitcoin:before {
  content: "\e904";
  color: #f7931a;
}
.icon-css3:before {
  content: "\e913";
  color: #1572b6;
}
.icon-csswizardry:before {
  content: "\e914";
  color: #f43059;
}
.icon-devto:before {
  content: "\e905";
}
.icon-discord:before {
  content: "\e906";
  color: #7289da;
}
.icon-html5:before {
  content: "\e915";
  color: #e34f26;
}
.icon-javascript:before {
  content: "\e916";
  color: #f7df1e;
}
.icon-jquery:before {
  content: "\e917";
  color: #0769ad;
}
.icon-linux:before {
  content: "\e907";
  color: #fcc624;
}
.icon-mysql:before {
  content: "\e918";
  color: #4479a1;
}
.icon-php:before {
  content: "\e908";
  color: #777bb4;
}
.icon-python:before {
  content: "\e909";
  color: #3776ab;
}
.icon-react:before {
  content: "\e90a";
  color: #61dafb;
}
.icon-ubuntu:before {
  content: "\e90b";
  color: #e95420;
}
.icon-youtube:before {
  content: "\e90c";
  color: #f00;
}
.icon-steam:before {
  content: "\e91b";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-deviantart:before {
  content: "\eaaa";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-github:before {
  content: "\eab0";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-file-java:before {
  content: "\e911";
}
.icon-file-java2:before {
  content: "\e912";
}
.icon-file-php:before {
  content: "\e90d";
}
.icon-file-php2:before {
  content: "\e90e";
}
.icon-document-file-java:before {
  content: "\e919";
}
.icon-document-file-java2:before {
  content: "\e91a";
}
.icon-document-file-php:before {
  content: "\e90f";
}
.icon-document-file-php2:before {
  content: "\e910";
}
