@import "./colours.css";
@import "./layouts.css";
@import "./fonts.css";
@import "./components.css";
@import "./sections.css";

body, html {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Little', 'Courier New', Courier, monospace;
    background-color: var(--sky-blue);
    background-size: 25%;
}