@media only screen and (min-width: 1921px) {
  nav:after{
    display: none;
  }

  section:before{
    display: none;
  }

  section:after{
    display: none;
  }
  footer:before{
    display: none;
  }
}

@media only screen and (max-width: 1002px) {
  .image-left{
    display: none;
  }

  .growing-up{
    display: none;
  }

  .text-left{
    max-width: 100%;
    float: left;
  }

  .text-right{
    width: 100%;
    float: right;
    display: block;
  }
  .bg2{
    padding-bottom: 30em;
  }

  .bg3{
      padding-bottom: 30em;
  }
}

@media only screen and (max-width: 1073px) {
  .pgp{
    float: none;
    display: block;
    width:100%;
    margin-left:0px;
    padding-top:100px;
  }
}

@media only screen and (max-width: 625px) {

  .header-text{
    display: none;
  }

  .header-image{
    float:none;
    margin-top: 100px;
  }

  .header{
    text-align: center;
    margin-bottom:-40px;
    padding: 0px;
  }

  .Hibiki{
    width: 100%;
    height: auto;
  }

  .text-left{
    max-width: 100%;
    float:none;
    height: auto;
  }

  .inner-section{
    height: auto;
    display: block;
  }

  .text-right{
    max-width: 100%;
    height: auto;
  }

  .Nerve{
    margin-top: 50px;
    width: 100%;
    height: auto;
  }

  section{
    margin:0px;
    padding:2em;
    height: auto;
    display: flex;
  }

  nav:after{
    display: none;
  }

  section:before{
    display: none;
  }

  section:after{
    display: none;
  }

  footer:before{
    display: none;
  }

  .contact{
    float:none;
    display: block;
    width: 100%;
  }

  .signature{
    float: none;
    display: block;
    padding: 0px 40px 0px 0px;
    margin-top:30px;
    width: 100%;
    max-width: none;
  }
}
