.section {
    min-height: 30rem;
}

.section.bg-brown {
    background-image: url('../resources/dirt.png');
    position: relative;
}

.section.bg-brown::after {
    content: '';
    width: 100%;
    height: 60px;
    background-image: url('../resources/grass.png');
    position: absolute;
    left: 0;
    top: 0;
}